* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100vw;
  display: grid;
  /* gap: 1rem; */

  grid-template-columns: 1fr;
  grid-auto-rows: minmax(5rem, auto);
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five"
    "six"
    "seven";
}

#one {
  grid-area: one;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(2rem, auto);
  gap: 0.5rem;
  height: 100vh;
  background-color: #17494d;
  grid-template-areas:
    ". . . . . .  one_1 one_1 one_1 one_1 one_1 ."
    ". one_2 one_2 one_3 one_3 one_3 one_3 one_3 one_3 one_3 one_3 ."
    ". one_4 one_4 one_4 one_4 one_4 one_5 one_5 one_5 one_5 one_5 . ";
}

#one_1 {
  grid-area: one_1;
  padding-top: 1rem;
  font-family: "Noto Sans JP", sans-serif;
}
#one_1 ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
#one_1 ul li {
  padding: 1px 1.5rem;
  font-size: 1rem;
}

#one_1 ul li a:hover {
  border-bottom: 1px solid white;
}
a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

#one_2 {
  grid-area: one_2;
  padding-top: 2rem;
  color: white;
}

#one_2 a {
  font-size: 2.5rem;
  font-family: "Noto Sans JP", sans-serif;
}

#one_3 {
  grid-area: one_3;
  margin-top: 1.5rem;
  margin-bottom: 10rem;
  font-family: "Noto Sans JP", sans-serif;
}

#one_3 ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

#one_3 ul li {
  align-self: center;
  font-weight: 600;
  font-size: 1.4rem;
}

#one_3 ul li a:hover {
  padding-bottom: 2rem;
  border-bottom: 2px solid white;
}

#one_3 ul button {
  color: #444;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: #ece0ce;
  outline: 0;
  border: 0;
  padding: 1.5rem;
  cursor: pointer;
  width: 15rem;
}

#one_4 {
  grid-area: one_4;
  padding-bottom: 3rem;
  margin-bottom: 12rem;
  font-family: "Noto Sans JP", sans-serif;
}

#one_4 h1 {
  font-size: 7rem;
  color: #ce9fb7;
}

#one_4 span {
  font-size: 7rem;
  margin-right: 1rem;
}

#one_4 p {
  font-size: 7rem;
}

#one_4 span:first-of-type {
  color: #fed6a8;
  font-weight: 600;
}

#one_4 span:last-of-type {
  color: #00a656;
  font-weight: 600;
  border-bottom: 4px solid #fff;
  padding-bottom: 1rem;
}

#one_4 p {
  color: #30aabc;
  font-weight: 600;
  padding-bottom: 1rem;
  display: inline;
  border-bottom: 4px solid #fff;
}

#one_5 {
  grid-area: one_5;
  padding: 5rem 5rem 5rem 10rem;
  margin-bottom: 10rem;
  color: white;
}

#one_5 p {
  font-size: 1.9rem;
  font-weight: 500;
  font-family: "Noto Sans JP", sans-serif;
}

#free_trial {
  background-color: #ff6224;
  outline: 0;
  border: 0;
  color: white;
  margin-top: 5rem;
  margin-right: 1rem;
  cursor: pointer;
}

#free_trial:hover {
  background-color: orangered;
}

#one_5 button {
  width: 13rem;
  padding: 1.5rem 2rem;
  font-weight: 600;
  font-size: 1.5rem;
}

#view_demo {
  background-color: #17494d;
  border: 2px solid #ff6224;
  color: #ff6224;
  outline: 0;
  cursor: pointer;
}

#view_demo:hover {
  background-color: #ff6224;
  color: white;
}

/* div[id] {
  border: 1px solid #333;
} */

#two {
  grid-area: two;
  display: grid;
  background-color: #fed6a8;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(5rem, auto);
  padding-top: 0.8rem;
  /* gap: 1rem; */
  grid-template-areas:
    ". two_1 two_1 two_1 two_1 two_1 two_2 two_2 two_2 two_2 two_2 ."
    ". two_1 two_1 two_1 two_1 two_1 two_3 two_3 two_3 two_3 two_3 ."
    ". two_1 two_1 two_1 two_1 two_1 two_4 two_4 two_4 two_4 two_4 . ";
}

#two_1 {
  grid-area: two_1;
  margin-top: 7rem;
  margin-bottom: 7rem;
  position: relative;
  padding-bottom: 5rem;
}

#promo-main {
  max-width: 45rem;
}

#screen-promo {
  width: 30rem;
  position: absolute;
  top: -3rem;
  left: -4rem;
}

#sticker-star {
  width: 14rem;
  position: absolute;
  top: -12rem;
  left: -8rem;
}

#two_2 {
  grid-area: two_2;
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0;
  padding-left: 5rem;
  color: #17494d;
  font-family: "Noto Sans JP", sans-serif;
}

#two_3 {
  grid-area: two_3;
  color: #17494d;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding-left: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2.5rem;
}

#two_4 {
  grid-area: two_4;
  font-size: 1.8rem;
  font-weight: 400;
  margin-top: 0;
  padding-left: 2rem;
  transition: all 0.2s;
}

#two_4 ul {
  display: flex;
  list-style-type: none;
}

#two_4 ul i {
  padding-top: 0.5rem;
  padding-right: 1rem;
  color: #444;
}

#two_4 ul li {
  padding-right: 1.5rem;
}

#arrow-right {
  font-size: 1.5rem;
}

#arrow-right:hover {
  transform: scale(1.1);
  margin-left: 0.5rem;
}

#watch_video a {
  border-bottom: 2px solid #17494d;
  font-family: "Noto Sans JP", sans-serif;
}

#get_details a {
  border-bottom: 2px solid #17494d;
  font-family: "Noto Sans JP", sans-serif;
}

#two_4 ul li a {
  color: #17494d;
}

#two_5 {
  grid-area: two_5;
}

#three {
  grid-area: three;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(5rem, auto);
  color: #333;
  border: 1px solid red;
  /* gap: 1rem; */
  grid-template-areas:
    ". . . three_1 three_1 three_1 three_1 three_1 three_1 . . ."
    ". . . three_2 three_2 three_2 three_2 three_2 three_2 . . ."
    ". . . . . three_3 three_3 . . . . ."
    ". three_4 three_4 three_4 three_4 . three_5 three_5 three_5 three_5 . .";
}

#three_1 {
  grid-area: three_1;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

#three_1 p {
  color: #03363d;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  padding-bottom: 2rem;
}

#three_2 {
  grid-area: three_2;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

#three_2 p {
  color: #03363d;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
}

#three_3 {
  grid-area: three_3;
  margin-bottom: 3rem;
}

#three_3 ul {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Noto Sans JP", sans-serif;
}

#three_3 ul li {
  list-style-type: none;
  padding: 0.8rem 1rem;
  margin-right: 2rem;
}

#three_3 ul li:last-of-type:hover {
  border-bottom: 3px solid #3d8dae;
}

#three_3 ul li a {
  color: #444;
}

#three_3 ul li:first-child {
  border-bottom: 3px solid #3d8dae;
}

#three_4 {
  grid-area: three_4;
  padding-top: 2rem;
}

#three_4 h2 {
  color: #03363d;
  font-size: 2.6rem;
  margin-bottom: 2.2rem;
  font-family: "Noto Sans JP", sans-serif;
}

#three_4_customers {
  font-size: 1.5rem;
  color: #03363d;
  line-height: 1.6;
  margin-bottom: 2rem;
  font-family: "Noto Sans JP", sans-serif;
}

#three_4 li {
  color: #03363d;
  font-size: 1.9rem;
  font-weight: 600;
  list-style: none;
  line-height: 2.7rem;
  border-bottom: 2px solid #03363d;
  display: inline-block;
  margin-bottom: 3rem;
}

.testimonial {
  margin-left: 2rem;
  border-left: 2px solid #03363d;
  padding-left: 2rem;
}

.quote p {
  color: #03363d;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  font-family: "Noto Sans JP", sans-serif;
}

.three_4_message {
  font-size: 1.7rem;
  line-height: 1.3;
  color: teal;
  margin-bottom: 1.5rem;
}

.three_4_user {
  font-size: 1.7rem;
  color: teal;
  margin-bottom: 1.8rem;
  line-height: 1.3;
}

#three_5 {
  grid-area: three_5;
  border: 1px solid red;
  border-bottom: 0;
}
#photo-service {
  max-width: 100%;
}

#screen-service {
  width: 40rem;
  position: relative;
  left: -10rem;
  top: -30rem;
}

#four {
  grid-area: four;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(5rem, auto);
  color: #333;
  margin-top: 5rem;
  /* gap: 1rem; */
  grid-template-areas:
    ". four_1 four_1 four_1 four_1 four_1 four_1 four_1 four_1  ."
    ". . four_2 four_2 four_3 four_3 four_4 four_4  . ."
    ". . four_5 four_5 four_5 four_5 four_5 four_5  .  .";
}

#four_1 {
  grid-area: four_1;
}

#four_2 {
  grid-area: four_2;
}

#four_3 {
  grid-area: four_3;
}

#four_4 {
  grid-area: four_4;
}

#four_5 {
  grid-area: four_5;
}

#five {
  grid-area: five;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(5rem, auto);
  color: #333;
  /* gap: 1rem; */
  grid-template-areas:
    ". five_1 five_1 five_1 five_1 five_1 five_1 five_1 five_1 ."
    ". . five_2 five_2 five_3 five_3 five_4 five_4 . .";
}

#five_1 {
  grid-area: five_1;
}

#five_2 {
  grid-area: five_2;
}

#five_3 {
  grid-area: five_3;
}

#five_4 {
  grid-area: five_4;
}

#six {
  grid-area: six;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-auto-rows: minmax(5rem, auto);
  color: #333;
  background-color: #f8f9f9;
  padding-bottom: 5rem;
  /* gap: 1rem; */
  grid-template-areas:
    ". six_1 six_1 six_1 six_1 six_1 six_1 six_1 six_1 . "
    ". . six_2 six_3 six_4 six_5 six_6 six_7 . .";
}

#six_1 {
  grid-area: six_1;
}

#six_2 {
  grid-area: six_2;
}

#six_3 {
  grid-area: six_3;
}

#six_4 {
  grid-area: six_4;
}

#six_5 {
  grid-area: six_5;
}

#six_6 {
  grid-area: six_6;
}

#six_7 {
  grid-area: six_7;
}

#seven {
  grid-area: seven;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(2rem, auto);
  color: #333;
  background-color: #f8f9f9;
  gap: 1rem;
  grid-template-areas:
    ". seven_1 seven_1 seven_2 seven_2 seven_2 seven_2 seven_3 seven_3 seven_3 seven_3 ."
    ".  seven_4 seven_4 seven_2 seven_2 seven_2 seven_2 seven_3 seven_3 seven_3 seven_3 ."
    ". seven_5 seven_5 seven_5 seven_5 seven_5 seven_5 . . . . ."
    ". seven_6 seven_6 seven_6 seven_6 seven_6 seven_6 seven_6 seven_6 seven_6 seven_6 ."
    ". . . . . . . . . seven_7 seven_7 .";
}

#seven_1 {
  grid-area: seven_1;
  color: #03363d;
  font-size: 1.5rem;
  font-weight: 600;
}

#seven_2 {
  grid-area: seven_2;
  display: inline-block;
}

#seven_2 input {
  width: 30rem;
  height: 5rem;
  padding: 2rem;
  font-size: 1.5rem;
}

#seven_2 button {
  width: 14rem;
  height: 5rem;
  cursor: pointer;
  font-size: 1.8rem;
  color: white;
  background-color: #17494d;
  outline: 0;
  border: 0;
  margin-left: 0;
}

#seven_3 {
  grid-area: seven_3;
}

#seven_3 ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

#seven_3 ul li a {
  font-size: 2rem;
  margin-right: 3rem;
  color: #6c737d;
}

#seven_3 ul li a:hover {
  color: #03363d;
}

#seven_4 {
  grid-area: seven_4;
  color: #17494d;
  font-size: 1.5rem;
}

#seven_5 {
  grid-area: seven_5;
  margin-top: 4rem;
}

#seven_5 ul {
  margin-bottom: 5rem;
  position: relative;
  left: -4rem;
}

#seven_5 ul li {
  font-size: 1.4rem;
  list-style-type: none;
  display: inline-block;
  margin-right: 3rem;
  color: #6c737d;
}

#seven_5 ul li:hover {
  border-bottom: 1px solid #6c737d;
}

#seven_6 {
  grid-area: seven_6;
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: #6c737d;
}

#seven_7 {
  grid-area: seven_7;
  height: 10rem;
  position: relative;
}

#seven_7 button {
  background-color: #17494d;
  width: 15rem;
  height: 4.5rem;
  border-radius: 2rem;
  outline: 0;
  border: 0;
  color: #fff;
  font-weight: 600;
  display: inline-block;
  position: fixed;
  top: 90vh;
  right: 5rem;
  cursor: pointer;
}

#seven_7 button i {
  font-size: 1.8rem;
  margin-right: 1rem;
}
